@{
  Layout = "_Layout";
}

@model FactoryRepair.Models.Engineer

<h4>Add a new engineer</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.EngineerName)
    @Html.TextBoxFor(model => model.EngineerName)

    <input type="submit" value="Add new Engineer" class="btn btn-default" />
}
<p>@Html.ActionLink("Show list of all active engineers", "Index")</p>
<p>@Html.ActionLink("Return to the homepage", "Index", "Home")</p>